@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f4f6;
}

.whatsapp-btn{
    background-color: #25d366;
    transition: transform 0.2s, background-color 0.2s;
}
.whatsapp-btn:hover{
    background-color: #128c7e;
    transform: scale(1.02);
}

.card-animation {
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}